* {
  box-sizing: border-box; }

body {
  margin: 0 0px;
  background-color: #F9F7EC; }

h1 {
  font-family: 'Bauhaus-Light', sans-serif; }

h2,
h3,
h4 {
  font-family: 'Futura T', sans-serif;
  color: black; }

p,
a,
button {
  font-family: 'Futura PT', sans-serif;
  color: black; }

a {
  text-decoration: none; }

ul {
  padding: 0px; }
  ul li {
    list-style: none; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  background-color: black;
  padding: 0 20px; }
  .navbar .navbar-menu {
    min-width: 100vw;
    background-color: black;
    position: absolute;
    top: -300px;
    z-index: 2; }
    .navbar .navbar-menu .menu {
      margin-top: 60px; }
      .navbar .navbar-menu .menu li a {
        color: #F9F7EC;
        font-weight: 600;
        padding-left: 20px; }
      .navbar .navbar-menu .menu li:not(:last-child) {
        padding-bottom: 15px; }
  .navbar .displayMenu {
    top: 0px; }
  .navbar span#navbar-logo {
    width: 40px;
    margin-top: 15px;
    cursor: pointer;
    z-index: 10; }
  .navbar .navbar-cart {
    width: 40px;
    margin-top: 15px;
    cursor: pointer; }
    .navbar .navbar-cart .cart-cant {
      position: absolute;
      color: #eee022;
      top: 4px;
      right: 15px; }
  .navbar svg {
    fill: #F9F7EC; }

.cart-content {
  background-color: #F9F7EC;
  position: absolute;
  display: none;
  z-index: 4;
  width: 100%; }
  .cart-content .cart-flex {
    display: grid;
    grid-template-columns: 15% 40% 30% 15%;
    grid-template-rows: 50px; }
    .cart-content .cart-flex .cart-close-btn {
      width: 30px;
      outline: none;
      cursor: pointer;
      padding: 6px;
      border: none;
      background-color: white; }
  .cart-content .cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .cart-content .shop-btn {
    background-color: #eee022;
    color: black;
    border: 4px solid black;
    display: block;
    height: 40px;
    text-align: center; }

.home {
  padding-bottom: 100px;
  width: 100%; }
  .home .home-grid {
    height: 100vh; }
    .home .home-grid .shapes {
      position: relative;
      display: inline-block;
      min-width: 100vw; }
      .home .home-grid .shapes .circle {
        background-color: #F2B200;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        position: absolute;
        left: -250px;
        top: 20px; }
      .home .home-grid .shapes .triangle {
        width: 0px;
        height: 0px;
        border-top: 450px solid #005CA7;
        /* border-right: 400px solid transparent; */
        border-left: calc(100vw - 138px) solid transparent;
        /* border-bottom: 400px solid yellow; */
        position: absolute;
        left: 138px;
        top: 220px;
        /* display: inline-block; */
        overflow: hidden; }
      .home .home-grid .shapes .rectangle {
        background-color: #D30000;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 430px;
        animation-name: rotate;
        -webkit-animation-name: rotate;
        animation-duration: 12s;
        -webkit-animation-duration: 12s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-delay: 1s;
        -webkit-animation-delay: 1s; }
    .home .home-grid .title {
      position: relative;
      z-index: 3;
      padding: 15px 20px; }
      .home .home-grid .title h2 {
        font-size: 37px;
        text-align: right; }
      .home .home-grid .title h1 {
        font-size: 70px;
        font-family: 'Bauhaus 93', sans-serif; }
  .home .less {
    height: 150px;
    padding: 300px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .less p {
      font-size: 24px; }
  .home .shop .lines {
    min-width: 100vw;
    display: flex;
    flex-direction: row; }
    .home .shop .lines div {
      width: 50%;
      height: 500px; }
    .home .shop .lines div:first-child {
      border-top-width: 0px;
      border-left: 0px;
      border-bottom: 0px;
      border-right: 7px solid black; }
    .home .shop .lines div:last-child {
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-top: 0px;
      border-left: 7px solid black; }
  .home .shop .animated {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 150px; }
    .home .shop .animated .test1 {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #F2B200;
      -moz-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
      -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
      -o-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
      transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8); }
      .home .shop .animated .test1 .test-shape {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue; }
      .home .shop .animated .test1 .test-ontop {
        position: absolute;
        font-size: 50px;
        font-weight: bolder;
        color: black;
        background-color: none; }
  .home .shop .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr)); }
    .home .shop .about .about-img img {
      width: 100%; }

/* .in-view {
    transform: scale(15);
    -moz-transform: scale(15);
    -webkit-transform: scale(15);
}  */
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease; }
  100% {
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease; }
  100% {
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease; } }

.title > div + div {
  padding-top: 40px; }

.title div:last-child {
  padding-top: 60px; }

/* TOP BTN STYLES */
#topBtn {
  position: fixed;
  bottom: 50px;
  right: 70px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #D30000;
  cursor: pointer;
  display: none;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none; }
  #topBtn svg {
    fill: #D30000;
    width: 60px; }

.animation {
  color: black;
  background-color: #F9F7EC;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-radius: 100px;
  padding: 15px 20px;
  text-align: center;
  min-width: 200px;
  outline: none;
  cursor: pointer;
  border: none;
  overflow: hidden;
  border: 2px solid black; }
  .animation span {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    background-color: #005CA7;
    border-radius: 100%; }
  .animation span.active {
    animation: clickEffect 0.5s; }

@keyframes clickEffect {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(100);
    opacity: 0; } }

.cart {
  width: 100%; }
  .cart .cart-container {
    margin: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); }
    .cart .cart-container .card-product {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .cart .cart-container .card-product img {
        width: 100%; }
