* {
    box-sizing: border-box;
}

body {
    margin: 0 0px;
    background-color: #F9F7EC; 
}

h1 {
    font-family: 'Bauhaus-Light', sans-serif;
}
h2, 
h3,
h4 {
    font-family: 'Futura T', sans-serif;
    color: black; 
}

p,
a,
button {
    font-family: 'Futura PT', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    li {
        list-style: none;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    background-color: black;
    padding: 0 20px;
    overflow: hidden;
    .navbar-menu {
        position: fixed;
        z-index: 10;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        padding-top: 15px;
        transition: .5s ease;
        transition-property: left;
        background-color: black;
        #navbar-close-btn {
            padding-right: 20px;
            position: absolute;
            right: 0;
            svg {
                width: 40px;
                fill: #D30000;
            }
        } 
        
        .menu {
            margin: 0;
            padding: 50px 0;
            li a {
                padding: 10px 20px;
                display: block;
                color: #F9F7EC;
                font-weight: 600;
                padding-left: 20px;
            }
            li:not(:last-child){
                padding-bottom: 15px;
            }
        }
    }
    .navbar-menu.menu-active {
        left: 0px;
    }
    .displayMenu {
        top: 0px;
    }
    span#navbar-logo {
        width: 40px;
        margin-top: 15px;
        cursor: pointer;
        z-index: 10;
    }
    .navbar-cart {
        width: 40px;
        margin-top: 15px;
        cursor: pointer;
        .cart-cant {
            position: absolute;
            color: #F2B200;
            top: 4px;
            right: 15px;
        }
    }
    svg {
        fill: #F9F7EC; 
    }
}


.cart-content {
    background-color: #F9F7EC;
    position: absolute;
    display: none;
    z-index: 4;
    width: 100%;
    transition-delay: .5s ease;
    transition-property: display;
    #cart-after {
        padding-bottom: 0px;
        p {
            font-weight: bolder;
        }
    } 

}
#cart-content.active {
    display: block;
}
    .cart-flex {
        display: grid;
        padding: 20px 20px;
        grid-template-columns: 15% 50% 20% 15%;
        grid-template-rows: 50px; 
        align-items: center;
        
        .cart-close-btn {
            width: 30px;
            outline: none;
            cursor: pointer;
            padding: 6px;
            border: none;
            background-color: #F9F7EC;
        }
        :nth-child(3) {
            text-align: center;
        }
        :nth-child(4){
            justify-self: self-end;
        }
    }
    .cart-total {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .shop-btn {
        background-color: #F2B200;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        border: 4px solid black;
        height: 60px;
        text-align: center; 
    }


.home {
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;

    .home-grid {
        height: 100vh;
        .shapes {
            position: relative;
            display: inline-block;
            min-width: 100vw;
            .circle {
                background-color: #F2B200;
                width: 350px;
                height: 350px;
                border-radius: 100%;
                position: absolute;
                left: -250px;
                top: 20px;
            }
            .triangle {
                width: 0px;
                height: 0px;
                border-top: 450px solid #005CA7;
                /* border-right: 400px solid transparent; */
                border-left: calc(100vw - 138px) solid transparent;
                /* border-bottom: 400px solid yellow; */
                position: absolute;
                left: 138px;
                top: 220px;
                /* display: inline-block; */
                overflow: hidden;
            }
            .rectangle {
                background-color: #D30000;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 430px;
                animation-name: rotate;
                -webkit-animation-name: rotate; 
                animation-duration: 12s; 
                -webkit-animation-duration: 12s; 
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                animation-delay: 1s;
                -webkit-animation-delay: 1s;
            }
            
        }
        .title {
            position: relative;
            z-index: 3;
            padding: 15px 20px;
            h2 {
                font-size: 37px;
                text-align: right;
            }
            h1 {
                font-size: 70px;
                font-family: 'Bauhaus 93', sans-serif;
            }
        }
    }
    .less {
        height: 150px;
        padding: 300px 50px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 24px;
        }
    }
    .shop {
        .lines {
            min-width: 100vw;
            display: flex;
            flex-direction: row;
            div {
                width: 50%;
                height: 500px;
            }
            div:first-child {
                border-top-width: 0px;
                border-left: 0px;
                border-bottom: 0px;
                border-right: 7px solid black;
            }
            div:last-child {
                border-right-width: 0px;
                border-bottom-width: 0px;
                border-top: 0px;
                border-left: 7px solid black;
            }
        }
    }
    .scroll-container {
        padding-top: 150px;
        .animated {           
            display: flex;
            justify-content: center;
            align-items: center;
            .test-shape {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F2B200;
                .test-ontop {
                    font-size: 50px;
                    font-weight: bolder;
                    color: black;
                    background-color: none;
                    position: absolute;
                }
                
            }
        }
        .about {
            padding-top: 150px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
            .about-img img {
                width: 100%;
            }
            :last-child {
                padding: 0px 15px;
                text-justify: justify;
            }
        }
    }
}

.in-view {
    transform: scale(5);
    -moz-transform: scale(5);
    -webkit-transform: scale(5);
}  
 
@keyframes rotate {
    0% {
    -webkit-transform: rotate(0deg);
    }
    50% { 
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease;
    }
    100% { 
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease;
    }
  }

@-webkit-keyframes rotate {
    0% {
    -webkit-transform: rotate(0deg);
    
    }
    50% { 
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease;
    }
    100% { 
    -webkit-transform: rotate(90deg);
    -webkit-animation-timing-function: ease;
    }
}

.title > div + div {
    padding-top: 40px;
}
  
.title div:last-child {
    padding-top: 60px;
}


/* TOP BTN STYLES */
  
#topBtn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #D30000;
    cursor: pointer;
    display: none;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: none;
    svg {
        fill: #D30000;
        width: 60px;
      }
  }

.animation {
    color: black;
    background-color: #F9F7EC;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 100px;
    padding: 15px 20px;
    text-align: center;
    min-width: 200px;
    outline: none;
    cursor: pointer;
    border: none;
    overflow: hidden;
    border: 2px solid black;
    span {
        width: 1px;
        height: 1px;
        position: absolute;
        opacity: 0;
        background-color: #005CA7;
        border-radius: 100%;
    }
    span.active {
        animation: clickEffect 0.5s;

    }
}

@keyframes clickEffect {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(100);
        opacity: 0;
    }
}

.cart {
    width: 100%;
    
    .cart-container {
        margin: 50px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
        .card-product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 100%;
            }
        }
    }
}

.footer {
    margin-top: 150px;
    background-color: #D30000;
    display: flex;
    justify-content: center;
    align-items: center;
    ul li {
        padding: 20px;
        text-align: center;
        a {
            font-size: 3rem;
            color: #F9F7EC;
            
        }
    }
}


/* Media Queries */

@media only screen and (min-width: 768px) {
    .home {
        .home-grid {
            .shapes {
                .circle {
                    left: -100px;
                }
                .triangle {
                    width: 0px;
                    height: 0px;
                    border-top: 550px solid #005CA7;
                    border-right: 300px solid transparent;
                    border-left: 25px solid transparent;
                    /* border-bottom: 400px solid yellow; */
                    position: absolute;
                    left: 500px;
                    top: 320px;
                    /* display: inline-block; */
                    overflow: hidden;
                    transform: rotateZ(45deg);
                }
                .rectangle {
                    width: 300px;
                    height: 300px;
                    top: 650px;
                }
            }
            .title {
                padding: 50px 50px;
            }
        }
        .scroll-container {
            .animated {
                .test-shape {
                    width: 200px;
                    height: 200px;
                }
            }
            .about {
                .about-text {
                    p {
                        font-size: 25px;
                        padding-right: 50px;
                        text-justify: justify;
                    }
                }
            }
        }

    }
    .cart {
        .cart-container{
            margin: 50px 50px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .home {
        .home-grid {
            .shapes {
                .circle {
                    width: 600px;
                    height: 600px;
                }
                .triangle {
                    width: 0px;
                    height: 0px;
                    border-top: 650px solid #005CA7;
                    border-right: 500px solid transparent;
                    border-left: 100px solid transparent;
                    /* border-bottom: 400px solid yellow; */
                    position: absolute;
                    left: 550px;
                    top: 320px;
                    /* display: inline-block; */
                    overflow: hidden;
                    transform: rotateZ(40deg);
                }
                .rectangle {
                    width: 150px;
                    height: 600px;
                    top: 750px;
                    left: 100px;
                }
            }
            .title {
                padding: 50px 80px;
                h2 {
                    font-size: 50px;
                }
                h1 {
                    font-size: 80px;
                }
            }

        }
        .shop {
            .lines {
                div {
                    height: 700px;
                }
            }
        }

    }
    .cart {
        .cart-container{
            gap: 50px;
        }
    }
}